USE [master]
GO
/****** Object:  Database [ResturantDb]    Script Date: 06/10/2024 22:18:07 ******/
CREATE DATABASE [ResturantDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ResturantDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\ResturantDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ResturantDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\ResturantDb_log.ldf' , SIZE = 13632KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ResturantDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ResturantDb]
GO
/****** Object:  UserDefinedFunction [dbo].[UDFFoodList]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[UDFFoodList](@EnterDate nvarchar(10))
returns @tblFoodList table
(
FoodDescription nvarchar(50),
FoodUnitDescription nvarchar(30),
EnterDate nvarchar(10),
NumberOfFood float   ,
UnitPrice money
)
as
begin
insert into @tblFoodList
SELECT     tblFoodsDescription.FoodDescription, tblFoodUnits.FoodUnitDescription, 
           tblMojodi.EnterDate, tblMojodi.NumberOfFood,tblMojodi.UnitPrice
FROM         tblFoodCategury INNER JOIN
             tblFoodsDescription ON tblFoodCategury.FoodCateguryID =tblFoodsDescription.FoodCateguryID INNER JOIN
             tblFoodUnits ON tblFoodsDescription.FoodUnitID = tblFoodUnits.FoodUnitID INNER JOIN
             tblMojodi ON tblFoodsDescription.FoodID = tblMojodi.FoodID
             Where EnterDate=@EnterDate         
 return
end
GO
/****** Object:  UserDefinedFunction [dbo].[UDFPardakhtList]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[UDFPardakhtList](@CustomerName nvarchar(50))
returns @tblPardakht table
(
CustomerName nvarchar(50),
FactorShDate nvarchar(10),
PardakhtKol decimal
)
as
begin
insert into @tblPardakht
SELECT  tblCustomer.CustomerName,tblFactorID.FactorShDate,sum(FoodQuantity*UnitPrice)
FROM         tblCustomer INNER JOIN
             tblFactorID ON tblCustomer.CustomerID = tblFactorID.CustomerID INNER JOIN
             tblFactorDetails ON tblFactorID.FactorID = tblFactorDetails.FactorID
             Where CustomerName=@CustomerName
             Group by	CustomerName,FactorShDate
 return
end
GO
/****** Object:  UserDefinedFunction [dbo].[UDFSelledFoodList]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[UDFSelledFoodList](@FactorShDate nvarchar(10))
returns @tblFoodList table
(
FoodDescription nvarchar(30),
FoodQuantity float,
UnitPrice money	,
TotalPrice money
)
as
begin
insert into @tblFoodList
SELECT      tblFoodsDescription.FoodDescription,
			          sum( tblFactorDetails.FoodQuantity) ,UnitPrice,
          ( sum( tblFactorDetails.FoodQuantity)*UnitPrice) as TotalPrice 
 FROM       tblFactorDetails INNER JOIN
            tblFactorID ON tblFactorDetails.FactorID = tblFactorID.FactorID INNER JOIN
            tblFoodsDescription  ON tblFactorDetails.FoodID = tblFoodsDescription.FoodID INNER JOIN
            dbo.tblFoodCategury ON dbo.tblFoodsDescription.FoodCateguryID = dbo.tblFoodCategury.FoodCateguryID
				where FactorShDate=@FactorShDate
             Group by  FoodDescription,UnitPrice ,tblFactorID.FactorShDate     
 return
end
GO
/****** Object:  Table [dbo].[tblFactorDetails]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFactorDetails](
	[FactorDetailID] [numeric](18, 0) NOT NULL,
	[FactorID] [int] NOT NULL,
	[FoodID] [int] NULL,
	[FoodQuantity] [float] NOT NULL,
	[UnitPrice] [numeric](18, 0) NOT NULL,
	[Discount] [numeric](18, 0) NOT NULL,
	[TaxRate] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[xtblMandehGaza]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[xtblMandehGaza]
AS
SELECT  FoodsID, Voroodi, Khorooji, Voroodi - Khorooji AS MandehGaza
FROM     (SELECT  derivedtbl_1.FoodID AS FoodsID, derivedtbl_1.VoroodiGaza AS Voroodi, CASE WHEN derivedtbl_2.Foroosh IS NULL 
                               THEN 0 ELSE derivedtbl_2.Foroosh END AS Khorooji
                FROM     (SELECT  FoodID, SUM(NumberOfFood) AS VoroodiGaza
                                FROM     dbo.tblMojodi
                                GROUP BY FoodID) AS derivedtbl_1 LEFT OUTER JOIN
                                   (SELECT  FoodID, SUM(FoodQuantity) AS Foroosh
                                    FROM     dbo.tblFactorDetails
                                    GROUP BY FoodID) AS derivedtbl_2 ON derivedtbl_1.FoodID = derivedtbl_2.FoodID) AS derivedtbl_3
GO
/****** Object:  Table [dbo].[tblCustomer]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomer](
	[CustomerID] [numeric](18, 0) NOT NULL,
	[DateMember] [date] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[CustomerIsActive] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFactorID]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFactorID](
	[FactorID] [int] NOT NULL,
	[FactorDate] [date] NOT NULL,
	[CustomerID] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFoodsDescription]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFoodsDescription](
	[FoodID] [int] IDENTITY(1,1) NOT NULL,
	[FoodDescription] [nvarchar](100) NOT NULL,
	[FoodUnitID] [int] NOT NULL,
	[FoodCategoryID] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_tblFoodsDescription] PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[xtblFactorRpt]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[xtblFactorRpt]
AS
SELECT  TOP (100) PERCENT dbo.tblFactorID.FactorID, dbo.tblFactorID.FactorShDate, dbo.tblFactorID.CustomerID, 
               dbo.tblCustomer.CustomerName + N' ' + dbo.tblCustomer.CustomerFamily AS NameSname, dbo.tblFactorDetails.FoodID, dbo.tblFoodsDescription.FoodDescription, 
               dbo.tblFactorDetails.FoodQuantity, dbo.tblFactorDetails.UnitPrice, dbo.tblFactorDetails.Takhfif, dbo.tblFactorDetails.TaxRate
FROM     dbo.tblCustomer INNER JOIN
               dbo.tblFactorID ON dbo.tblCustomer.CustomerID = dbo.tblFactorID.CustomerID INNER JOIN
               dbo.tblFactorDetails ON dbo.tblFactorID.FactorID = dbo.tblFactorDetails.FactorID INNER JOIN
               dbo.tblFoodsDescription ON dbo.tblFactorDetails.FoodID = dbo.tblFoodsDescription.FoodID
ORDER BY dbo.tblFactorID.FactorID DESC
GO
/****** Object:  View [dbo].[xtblDropFactors]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[xtblDropFactors]
AS
SELECT  TOP (100) PERCENT dbo.tblFactorDetails.FactorID, ' شماره فاکتور: ' + LTRIM(RTRIM(STR(dbo.tblFactorDetails.FactorID))) 
               + ' - نام و نام خانوادگی:  ' + dbo.tblCustomer.CustomerName + N' ' + dbo.tblCustomer.CustomerFamily + N' - تاریخ فاکتور: ' + dbo.tblFactorID.FactorShDate AS NameSnameCust
FROM     dbo.tblFactorDetails INNER JOIN
               dbo.tblFactorID ON dbo.tblFactorDetails.FactorID = dbo.tblFactorID.FactorID INNER JOIN
               dbo.tblCustomer ON dbo.tblFactorID.CustomerID = dbo.tblCustomer.CustomerID
GROUP BY dbo.tblFactorDetails.FactorID, ' شماره فاکتور: ' + LTRIM(RTRIM(STR(dbo.tblFactorDetails.FactorID))) 
               + ' - نام و نام خانوادگی:  ' + dbo.tblCustomer.CustomerName + N' ' + dbo.tblCustomer.CustomerFamily + N' - تاریخ فاکتور: ' + dbo.tblFactorID.FactorShDate
ORDER BY dbo.tblFactorDetails.FactorID DESC
GO
/****** Object:  View [dbo].[xtblTotalSaleRates]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[xtblTotalSaleRates]
AS
SELECT  dbo.tblFactorID.FactorShDate, SUM(dbo.tblFactorDetails.TaxRate) AS TotalSaleRate, COUNT(dbo.tblFactorDetails.TaxRate) AS QuantirySaleRate
FROM     dbo.tblFactorID INNER JOIN
               dbo.tblFactorDetails ON dbo.tblFactorID.FactorID = dbo.tblFactorDetails.FactorID
GROUP BY dbo.tblFactorID.FactorShDate
HAVING  (SUM(dbo.tblFactorDetails.TaxRate) > 0)
GO
/****** Object:  View [dbo].[xtblFoodSelect]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[xtblFoodSelect]
AS
SELECT     dbo.tblFoodsDescription.FoodID, dbo.tblFoodsDescription.FoodDescription, dbo.tblMojodi.UnitPrice, dbo.tblFoodsDescription.FoodCateguryID, 
                      dbo.tblFoodsDescription.FoodUnitID
FROM         dbo.tblFoodsDescription INNER JOIN
                      dbo.tblMojodi ON dbo.tblFoodsDescription.FoodID = dbo.tblMojodi.FoodID
GO
/****** Object:  View [dbo].[xtblMizaneForoosh]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[xtblMizaneForoosh]
AS
SELECT     dbo.tblFactorDetails.FoodID, dbo.tblFoodsDescription.FoodDescription, SUM(dbo.tblFactorDetails.FoodQuantity) AS KoleTedad, 
                      SUM(dbo.tblFactorDetails.FoodQuantity * dbo.tblFactorDetails.UnitPrice - dbo.tblFactorDetails.Takhfif) AS TotalPrice
FROM         dbo.tblFactorDetails INNER JOIN
                      dbo.tblFoodsDescription ON dbo.tblFactorDetails.FoodID = dbo.tblFoodsDescription.FoodID
GROUP BY dbo.tblFactorDetails.FoodID, dbo.tblFoodsDescription.FoodDescription
GO
/****** Object:  View [dbo].[MizanForoshHarGhaza]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MizanForoshHarGhaza]
AS
SELECT     dbo.tblFoodsDescription.FoodID, dbo.tblFoodsDescription.FoodDescription, SUM(dbo.tblFactorDetails.FoodQuantity) AS Expr1, SUM(dbo.tblFactorDetails.UnitPrice) 
                      AS Expr2
FROM         dbo.tblFoodsDescription INNER JOIN
                      dbo.tblFactorDetails ON dbo.tblFoodsDescription.FoodID = dbo.tblFactorDetails.FoodID
GROUP BY dbo.tblFoodsDescription.FoodID, dbo.tblFoodsDescription.FoodDescription
GO
/****** Object:  View [dbo].[MizanForoshGorohGhaza]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MizanForoshGorohGhaza]
AS
SELECT     dbo.tblFoodCategury.FoodCateguryDescription, COUNT(dbo.tblFactorDetails.FactorID) AS Expr4, SUM(dbo.tblFactorDetails.UnitPrice) AS Expr2, 
                      SUM(dbo.tblFactorDetails.FoodQuantity) AS Expr1
FROM         dbo.tblFactorDetails INNER JOIN
                      dbo.tblFoodsDescription ON dbo.tblFactorDetails.FoodID = dbo.tblFoodsDescription.FoodID INNER JOIN
                      dbo.tblFoodCategury ON dbo.tblFoodsDescription.FoodCateguryID = dbo.tblFoodCategury.FoodCateguryID
GROUP BY dbo.tblFoodCategury.FoodCateguryDescription, dbo.tblFoodsDescription.FoodCateguryID
GO
/****** Object:  View [dbo].[MoshtarianBedonNoshidani]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MoshtarianBedonNoshidani]
AS
SELECT     dbo.tblFoodCategury.FoodCateguryDescription, dbo.tblCustomer.CustomerName, dbo.tblFoodCategury.FoodCateguryID
FROM         dbo.tblCustomer CROSS JOIN
                      dbo.tblFoodCategury
WHERE     (dbo.tblFoodCategury.FoodCateguryID NOT IN
                          (SELECT     dbo.tblFoodsDescription.FoodCateguryID
                             FROM         dbo.tblFactorDetails INNER JOIN
                                                   dbo.tblFoodsDescription ON dbo.tblFactorDetails.FoodID = dbo.tblFoodsDescription.FoodID INNER JOIN
                                                   dbo.tblFactorID ON dbo.tblFactorDetails.FactorID = dbo.tblFactorID.FactorID INNER JOIN
                                                   dbo.tblCustomer AS tblCustomer_1 ON dbo.tblFactorID.CustomerID = tblCustomer_1.CustomerID INNER JOIN
                                                   dbo.tblFoodCategury AS tblFoodCategury_1 ON dbo.tblFoodsDescription.FoodCateguryID = tblFoodCategury_1.FoodCateguryID
                             WHERE     (dbo.tblFoodsDescription.FoodCateguryID = 7)))
GO
/****** Object:  View [dbo].[MoshtarianBedonDeser]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MoshtarianBedonDeser]
AS
SELECT     dbo.tblFoodsDescription.FoodCateguryID, dbo.tblCustomer.CustomerName
FROM         dbo.tblFoodsDescription INNER JOIN
                      dbo.tblFactorDetails ON dbo.tblFoodsDescription.FoodID = dbo.tblFactorDetails.FoodID INNER JOIN
                      dbo.tblFoodCategury ON dbo.tblFoodsDescription.FoodCateguryID = dbo.tblFoodCategury.FoodCateguryID CROSS JOIN
                      dbo.tblCustomer
WHERE     (dbo.tblFoodCategury.FoodCateguryID NOT IN
                          (SELECT     tblFoodCategury_1.FoodCateguryID
                             FROM         dbo.tblCustomer AS tblCustomer_1 CROSS JOIN
                                                   dbo.tblFoodCategury AS tblFoodCategury_1
                             WHERE     (tblFoodCategury_1.FoodCateguryID = 4)))
GO
/****** Object:  Table [dbo].[tblFoodCategory]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFoodCategory](
	[FoodCategoryID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[FoodCategoryDescription] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_tblFoodCategory] PRIMARY KEY CLUSTERED 
(
	[FoodCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFoodmeasurements]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFoodmeasurements](
	[FoodUnitID] [int] IDENTITY(1,1) NOT NULL,
	[FoodUnitDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AssetUnits] PRIMARY KEY CLUSTERED 
(
	[FoodUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInventory]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInventory](
	[inventory] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[FoodID] [int] NOT NULL,
	[EnterDate] [nvarchar](10) NOT NULL,
	[NumberOfFood] [float] NOT NULL,
	[UnitPrice] [money] NULL,
 CONSTRAINT [PK_tblMojodi] PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC,
	[EnterDate] ASC,
	[NumberOfFood] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLogs]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogs](
	[LogID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[LogDateTime] [datetime] NOT NULL,
	[LogDescription] [nvarchar](250) NOT NULL,
	[UsersName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblLogs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UsersID] [int] IDENTITY(1,1) NOT NULL,
	[UsersName] [nvarchar](50) NOT NULL,
	[UsersPass] [nvarchar](50) NOT NULL,
	[UserFName] [nvarchar](50) NULL,
	[UsersSName] [nvarchar](50) NOT NULL,
	[UserTypeID] [int] NOT NULL,
	[UserTell] [nvarchar](150) NULL,
	[UserMobile] [nvarchar](150) NULL,
	[UserBanBit] [bit] NOT NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[UsersName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserTypes]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserTypes](
	[UserTypeID] [int] IDENTITY(1,1) NOT NULL,
	[UsersTypeDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblUserTypes] PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblFoodsDescription]  WITH CHECK ADD  CONSTRAINT [FK_tblFoodsDescription_tblFoodCategury] FOREIGN KEY([FoodCategoryID])
REFERENCES [dbo].[tblFoodCategory] ([FoodCategoryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblFoodsDescription] CHECK CONSTRAINT [FK_tblFoodsDescription_tblFoodCategury]
GO
ALTER TABLE [dbo].[tblFoodsDescription]  WITH CHECK ADD  CONSTRAINT [FK_tblFoodsDescription_tblFoodUnits] FOREIGN KEY([FoodUnitID])
REFERENCES [dbo].[tblFoodmeasurements] ([FoodUnitID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblFoodsDescription] CHECK CONSTRAINT [FK_tblFoodsDescription_tblFoodUnits]
GO
ALTER TABLE [dbo].[tblInventory]  WITH CHECK ADD  CONSTRAINT [FK_tblMojodi_tblFoodsDescription] FOREIGN KEY([FoodID])
REFERENCES [dbo].[tblFoodsDescription] ([FoodID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblInventory] CHECK CONSTRAINT [FK_tblMojodi_tblFoodsDescription]
GO
ALTER TABLE [dbo].[tblLogs]  WITH CHECK ADD  CONSTRAINT [FK_tblLogs_tblUsers] FOREIGN KEY([UsersName])
REFERENCES [dbo].[tblUsers] ([UsersName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblLogs] CHECK CONSTRAINT [FK_tblLogs_tblUsers]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_tblUserTypes] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[tblUserTypes] ([UserTypeID])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_tblUserTypes]
GO
/****** Object:  StoredProcedure [dbo].[SPInsertToCustomer]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[SPInsertToCustomer]
@CustomerName nvarchar(50),
@CustomerFamily nvarchar(50),
@DateOzviatSH nvarchar(50),
@CustomerTell nvarchar(50),
@CustomerMobail nvarchar(50),
@CustomerAddress nvarchar(150),
@CustomerIsActive  bit
as
begin
   insert into tblCustomer
   values(@CustomerName,@CustomerFamily,@DateOzviatSH,@CustomerTell,
          @CustomerMobail, @CustomerAddress,@CustomerIsActive)
end

GO
/****** Object:  StoredProcedure [dbo].[xtblTotalSaleRates_SelectAll]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[xtblTotalSaleRates_SelectAll]
AS 
 SELECT * FROM xtblTotalSaleRates

GO
/****** Object:  DdlTrigger [NoEventOnSecificTable]    Script Date: 06/10/2024 22:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [NoEventOnSecificTable] ON DATABASE   
FOR 
DROP_TABLE, ALTER_TABLE 
AS
DECLARE @eventData XML,
        @uname NVARCHAR(50),
        @oname NVARCHAR(100),
        @otext VARCHAR(MAX),
        @etype NVARCHAR(100),
        @edate DATETIME
SET @eventData = eventdata()
SELECT
        @edate=GETDATE(),
        @uname=@eventData.value('data(/EVENT_INSTANCE/UserName)[1]', 'SYSNAME'),
        @oname=@eventData.value('data(/EVENT_INSTANCE/ObjectName)[1]', 'SYSNAME'),
        @otext=@eventData.value('data(/EVENT_INSTANCE/TSQLCommand/CommandText)[1]', 
                'VARCHAR(MAX)'),
        @etype=@eventData.value('data(/EVENT_INSTANCE/EventType)[1]', 'nvarchar(100)')
IF @oname IN ('tblFactorDetails')
  BEGIN
    DECLARE @err varchar(100)
    SET @err = 'Table ' + @oname  + ' is super duper protected and cannot be dropped.'
    RAISERROR (@err, 16, 1) ;
    ROLLBACK;
END
GO
ENABLE TRIGGER [NoEventOnSecificTable] ON DATABASE
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[17] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblFactorDetails"
            Begin Extent = 
               Top = 0
               Left = 77
               Bottom = 155
               Right = 237
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFoodCategury"
            Begin Extent = 
               Top = 80
               Left = 373
               Bottom = 210
               Right = 584
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFoodsDescription"
            Begin Extent = 
               Top = 15
               Left = 687
               Bottom = 174
               Right = 856
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MizanForoshGorohGhaza'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MizanForoshGorohGhaza'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[10] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblFoodsDescription"
            Begin Extent = 
               Top = 20
               Left = 72
               Bottom = 139
               Right = 241
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFactorDetails"
            Begin Extent = 
               Top = 15
               Left = 418
               Bottom = 134
               Right = 578
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MizanForoshHarGhaza'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MizanForoshHarGhaza'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[47] 4[15] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblCustomer"
            Begin Extent = 
               Top = 63
               Left = 38
               Bottom = 182
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFactorDetails"
            Begin Extent = 
               Top = 38
               Left = 260
               Bottom = 157
               Right = 420
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFoodCategury"
            Begin Extent = 
               Top = 136
               Left = 444
               Bottom = 225
               Right = 655
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFoodsDescription"
            Begin Extent = 
               Top = 32
               Left = 761
               Bottom = 151
               Right = 930
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MoshtarianBedonDeser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MoshtarianBedonDeser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MoshtarianBedonDeser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblCustomer"
            Begin Extent = 
               Top = 30
               Left = 89
               Bottom = 149
               Right = 263
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFoodCategury"
            Begin Extent = 
               Top = 39
               Left = 348
               Bottom = 147
               Right = 559
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MoshtarianBedonNoshidani'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MoshtarianBedonNoshidani'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblFactorDetails"
            Begin Extent = 
               Top = 6
               Left = 42
               Bottom = 231
               Right = 215
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFactorID"
            Begin Extent = 
               Top = 6
               Left = 257
               Bottom = 138
               Right = 430
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblCustomer"
            Begin Extent = 
               Top = 6
               Left = 472
               Bottom = 132
               Right = 658
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1371
         Width = 7543
         Width = 2921
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 2647
         Alias = 905
         Table = 2427
         Output = 727
         Append = 1400
         NewValue = 1170
         SortType = 1344
         SortOrder = 1413
         GroupBy = 1350
         Filter = 1344
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblDropFactors'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblDropFactors'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[30] 4[21] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblCustomer"
            Begin Extent = 
               Top = 10
               Left = 16
               Bottom = 210
               Right = 202
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFactorDetails"
            Begin Extent = 
               Top = 42
               Left = 647
               Bottom = 226
               Right = 820
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFactorID"
            Begin Extent = 
               Top = 32
               Left = 348
               Bottom = 173
               Right = 521
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFoodsDescription"
            Begin Extent = 
               Top = 10
               Left = 969
               Bottom = 182
               Right = 1148
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1961
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 4457
         Alias = 1262
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 135' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblFactorRpt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'0
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblFactorRpt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblFactorRpt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblFoodsDescription"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 137
               Right = 207
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblMojodi"
            Begin Extent = 
               Top = 6
               Left = 245
               Bottom = 125
               Right = 407
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblFoodSelect'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblFoodSelect'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "derivedtbl_3"
            Begin Extent = 
               Top = 6
               Left = 42
               Bottom = 116
               Right = 215
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2633
         Alias = 1673
         Table = 2578
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblMandehGaza'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblMandehGaza'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[30] 4[35] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblFactorDetails"
            Begin Extent = 
               Top = 2
               Left = 204
               Bottom = 167
               Right = 364
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFoodsDescription"
            Begin Extent = 
               Top = 4
               Left = 15
               Bottom = 149
               Right = 184
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1665
         Width = 1260
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 7470
         Alias = 1545
         Table = 1515
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 690
         SortOrder = 780
         GroupBy = 1350
         Filter = 1980
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblMizaneForoosh'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblMizaneForoosh'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblFactorID"
            Begin Extent = 
               Top = 20
               Left = 198
               Bottom = 130
               Right = 371
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblFactorDetails"
            Begin Extent = 
               Top = 29
               Left = 491
               Bottom = 219
               Right = 664
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1371
         Width = 2757
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
         Width = 1371
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 2647
         Table = 1166
         Output = 727
         Append = 1400
         NewValue = 1170
         SortType = 1344
         SortOrder = 1413
         GroupBy = 1350
         Filter = 1344
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblTotalSaleRates'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xtblTotalSaleRates'
GO
USE [master]
GO
